/* Enter your custom styles here */
/* class for the Scan Delivery label in first screen of Reciving of HU By Delivery transcation */
.ScanDeliverymargin{
    margin-top: 12%;
    margin-right: 2000% !important;
  }
  .ItemLabel{
    margin-top: 12%;
    margin-right: 2000% !important;
  }

  /* These are for Receving of HU By Delivery Tile...*/
.putawayContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}
.warehouseOrderTitle {
  align-self: flex-start;
}
.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.formBox {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  width: 400px;
  margin-top: 4rem;
}
.formLabel {
  margin-bottom: 7px;
}
.customMargin {
  margin-left: 3rem;
  margin-right: 1rem;
}
.centeredFormBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 4rem); /* Adjust based on the height of the back button and any other fixed elements */
}
.sapUiSmallMargin {
  margin: 1rem;
}
/* Mobile Styles */
@media (max-width: 600px) {
  .putawayContainer {
    padding: 10px;
  }
  .formBox {
    width: 100%;
    padding: 15px;
    margin-bottom: 30rem; /* Adjusted for mobile */
  }
  .formLabel {
    font-size: 0.9rem;
  }
  .customMargin {
    margin-left: 3rem;
    margin-right: 1rem;
  }
  .formContainer {
    flex-direction: column;
    align-items: flex-start;
  }
  .centeredFormBox {
    height: auto; /* Adjusted for mobile if needed */
    margin-top: 4rem; /* Adjust margin to ensure it's centered properly on small screens */
  }
}
.UnitsofMeasure {
  margin-left: 0.3rem;
}

/* ScrollContainer Page 5 & Page 6 & Page 7 CSS methods */
.SecondPageContainer, .verifyHuNumberContainer, .MainVBoxGR, .MainVBoxUnLoad {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
}
/* Form Header Styling */
.SecondPageformHeader, .formHeader,.formHeaderGR, .formHeaderUnLoad {
  text-align: center;
  font-size: 1.0rem;
  margin-bottom: 1.0rem;
}
/* Box around the form */
.SecondFormBox, .verifyHuNumberBox, .GoodsReceiptFormBox, .UnLoadPageFormBox {
  border: 2px solid black;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  background-color: #f9f9f9;
}
.formLabel, .labelStyleGR, .labelStyleUnLoad {
  margin-bottom: 0.5rem;
  font-weight: bold;
}
/* Button Styling */
.formButton {
  margin-left: 1rem;
}
.ButtonsSpaceSecondPage {
  margin-right: 1rem;
}
@media (max-width: 600px) {
  .SecondPageContainer, .verifyHuNumberContainer,.MainVBoxGR, .MainVBoxUnLoad {
    margin: 1rem;
  }
  .SecondFormBox, .verifyHuNumberBox,.GoodsReceiptFormBox, .UnLoadPageFormBox {
    padding: 15px; /* Adjust padding for mobile */
    width: 100%; /* Ensure full width with some margin on the sides */
    margin: 0 auto; /* Center the box */
  }
}